<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.suelengc.calctributospj"
    android:versionCode="7"
    android:versionName="3.1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock" >
        <activity
            android:name="br.com.suelengc.calctributospj.view.activity.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="br.com.suelengc.calctributospj.view.activity.CalculationActivity" >
        </activity>
        <activity android:name="br.com.suelengc.calctributospj.view.activity.ConfigurationActivity" >
        </activity>
        <activity android:name="br.com.suelengc.calctributospj.view.activity.MenuActivity" >
        </activity>
        <activity android:name="br.com.suelengc.calctributospj.view.activity.AboutActivity" />
        <activity android:name="br.com.suelengc.calctributospj.view.activity.SettingsActivity" >
        </activity>
        <activity android:name="br.com.suelengc.calctributospj.view.activity.CalculatorActivity" >
        </activity>
        <activity android:name="br.com.suelengc.calctributospj.view.activity.DonateActivity">
        </activity>
    </application>

</manifest>